<div ng-controller="DemoCtrl" layout="column" layout-margin>

    <p>Display an icon from a pre-registered set of icons:</p>

    <p>
      <md-icon md-svg-icon="alarm"         style="color: #0070cc;"                        alt="Alarm Icon"></md-icon>
      <md-icon md-svg-icon="social:cake"   style="color: #4c4c4c;width:60px;height:60px;" alt="Cake Icon"></md-icon>
      <md-icon md-svg-icon="social:people" style="color: #0070cc;" class="s48"            alt="People Icon"></md-icon>
    </p>

</div>
