<div ng-controller="DemoCtrl" layout="column" layout-margin>

  <p>
      Pre-fetch with $http & cache SVG icons using $templateCache.<br/>
      <span class="note"> NOTE: Show the Source views for details...</span>
  </p>

  <p>
    <md-icon md-svg-icon="core:alarm-add"       style="color:#4c4c4c;" alt="Add"    ></md-icon>
    <md-icon md-svg-icon="core:alarm-off"       style="color:#0070CC;" alt="Off"    ></md-icon>
    <md-icon md-svg-icon="social:cake"          style="color:#4c4c4c;" alt="Cake"   ></md-icon>
    <md-icon md-svg-src="img/icons/android.svg" style="color:#0070cc;" alt="Android"></md-icon>
  </p>

</div>
